.section {
    background: white;
    margin: 10px 0;
}

.section__header {
    padding: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
    border-top: 1px solid #ddd;
    word-break: break-word;
}

.section__headerArea {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

@media (max-width: 767px) {
    .section__headerArea {
        grid-template-columns: 1fr;
    }
}