.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width: 767px) {
    .tasks {
        margin: 0 -10px;
    }
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

@media(max-width: 767px) {
    .tasks__item {
        padding: 10px 0;
        grid-gap: 5px;
    }
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.tasks__button--done {
    background: green;
    transition: background 0.5s;
}

.tasks__button--done:hover {
    background: hsl(120, 100%, 30%);
}

.tasks__button--done:active {
    background: hsl(120, 100%, 35%);
}

.tasks__button--remove {
    background: red;
    transition: background 0.5s;
}

.tasks__button--remove:hover {
    background: hsl(0, 100%, 58%);
}

.tasks__button--remove:active {
    background: hsl(0, 100%, 65%);
}

.tasks__content--done {
    text-decoration: line-through;
}